.container {
  display: flex;
  position: relative;
  height: 296px;
  flex-direction: column;
  margin-bottom: 44px;
  padding-top: 23px;
  color: theme('colors.cinza.800');
  z-index: 100;

  @media screen(md) {
    height: unset;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: -100px 0 64px;
  }

  @media screen(lg) {
    max-width: unset;
    margin: 0 0 64px;
  }

  @media screen(xl) {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sectionLeft {
  display: none;

  @media screen(md) {
    width: 57%;
    display: block;
  }

  @media screen(lg) {
    width: 51%;
  }

  @media screen(xl) {
    width: unset
  }
}

.sectionLeft img {
  height: 412px;
  object-fit: cover;
}

.title {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  color: theme('colors.azulEscuro');
  margin-bottom: 20px;

  @media screen(md) {
    margin-bottom: 24px;
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
}

.sectionRight {
  display: flex;
  flex-direction: column;

  @media screen(md) {
    padding: 40px 48px;
  }
}

.textWrapper {
  width: 257px;

  @media screen(lg) {
    width: 391px;
    line-height: 2.2rem;
  }
}

.cardWrapper {
  position: absolute;
  width: 213px;
  align-self: flex-end;
  padding: 7px 16px 16px;

  left: -10px;

  @media screen(lg) {
    width: 301px;
  }
}

.cardWrapper:before {
  content: '';
  position: absolute;
  left: 0;
  border-top: 1px solid theme('colors.azulEscuro');
  border-left: 1px solid theme('colors.azulEscuro');
  width: 30px;
  height: 168px;
  top: -65px;
  left: 0px;

  @media screen(md) {
    height: 196px;
    width: 10px;
  }

  @media screen(lg) {
    
    height: 196px;
    top: -100px;
    width: 10px;
  }
}