.container {
  width: 100%;
  padding-right: 0;
  margin: 0 auto;
  position: relative;

  @media screen(lg) {
    max-width: 1366px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: column;
  }
}

.capaWrapper {
  max-width: 1207px;
  display: flex;
  flex-direction: column;
  z-index: 200;

  @media screen(sm) {
    flex-direction: row;
  }
}

.sectionLeft {
  width: 340px;
  z-index: 0;

  @media screen(sm) {
    width: 50%;
    z-index: 100;
  }

  @media screen(lg) {
    width: 739px;
  }
}

.sectionRight {
  width: 232px;
  height: 104px;
  background-color: theme('colors.azulEscuro');
  color: theme('colors.branco');
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 300;
  padding: 30px 20px;
  margin-top: -42px;
  z-index: 100;

  @media screen(sm) {
    width: 50%;
    height: auto;
    padding: 66px 55px;
    z-index: 0;
    margin-top: 0;
  }

  @media screen(lg) {
    width: auto;
    max-width: 564px;
    height: auto;
    padding: 46px 56px 46px 175px;
    margin-left: -77px;
    align-self: flex-end;
    margin-bottom: -36px;
  }
}

.title {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @media screen(sm) {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }

  @media screen(lg) {
    font-size: 4rem;
    line-height: 4.6rem;
  }
}

.capaText {
  padding: 22px 88px 0 20px;
  margin-bottom: 110px;
  color: theme('colors.cinza.300');

  @media screen(sm) {
    color: theme('colors.branco');
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 16px 16px 0 0;
    margin-bottom: 0;
  }

  @media screen(lg) {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-right: 0;
    
  }
}

.capaCards {
  position: absolute;
  margin: 16px 16px 16px 65px;
  background: #F0F8FA;
  color: #7D8082;
  max-width: 274px;
  max-height: 85px;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media screen(lg) {
    position: absolute;
    z-index: 101;
    margin-top: 20px;
    margin-left: 40px;
    background: #F0F8FA;
    color: #7D8082;
    max-width: 416px;
    max-height: 96px;
    padding: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.mosaicoWrapper {
  @media screen(md) {
    width: 100%;
  }

  @media screen(xl) {
    width: 1200px;
    margin-left: 73px;
  }
}

.mosaico {
  width: 100%;
  padding: 50px 13px 0 33px;

  @media screen(md) {
    max-width: 642px;
    padding-left: 61px;
    padding-top: 100px;
    width: 53.5%;
  }

  @media screen(xl) {
    padding-left: 124px;
  }
}

.box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  min-height: 70px;
  margin-top: 1px;
  padding-bottom: 20px;

  .losango {
    z-index: 200;
    left: -13.75px;
    top: -13.75px;

    @media screen(md) {
      right: -24.75px;
      top: -24.75px;
      left: unset;
    }
  }

  &:nth-child(even) {
    @media screen(md) {
      left: 100%;
    }

    .losango {
      @media screen(md) {
        left: -24.75px;
      }
    }

    .textboxwrapper:before {
      @media screen(md) {
        flex: 10

      }
    }
  }

  &:nth-child(odd) {
    .textboxwrapper {
      &:before {
        @media screen(md) {
          display: none
        }
      }

      &:after {
        @media screen(md) {
          content: '';
          display: inline-block;
          flex: 1.15;
          border-top: 2px dashed theme('colors.azulEscuro');
          vertical-align: top;
          position: absolute;
          right: 33px;
          left: 0;
        }
      }
    }

    .line {
      @media screen(md) {
        left: unset;
        right: -2px;
        top: 33px;
        bottom: 33px;
      }
    }
  }

  .textbox {
    @media screen(md) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  /* regras para reversão do box */
  &.reversedToLeft {
    @media screen(md) {
      left: unset;
    }

    .losango {
      @media screen(md) {
        left: unset;
      }
    }

    .line {
      @media screen(md) {
        left: unset;
        right: -2px;
      }
    }

    .textboxwrapper {
      &:before {
        @media screen(md) {
          display: none
        }
      }

      &:after {
        @media screen(md) {
          content: '';
          display: inline-block;
          flex: 1.15;
          border-top: 2px dashed theme('colors.azulEscuro');
          vertical-align: top;
          position: absolute;
          right: 33px;
          left: 0;
        }
      }
    }
  }

  &.reversedToRight {
    @media screen(md) {
      right: -100%;
    }

    .losango {
      @media screen(md) {
        left: -24.75px;
      }
    }

    .textboxwrapper {
      &:after {
        @media screen(md) {
          display: none;
        }
      }

      &:before {
        @media screen(md) {
          content: '';
          display: inline-block;
          flex: 1.15;
          border-top: 2px dashed theme('colors.azulEscuro');
          vertical-align: top;
          position: relative;
          right: 33px;
        }
      }
    }
  }

  /* regras específicas para cada box  */
  &:nth-of-type(1) {
    @media screen(md) {
      max-height: 206px;
      min-height: 100px;
    }
  }

  &:nth-of-type(2) {
    @media screen(md) {
      margin-bottom: -87px;
    }

    .textboxwrapper:before {
      @media screen(md) {
        min-width: 106px;
      }

      @media screen(xl) {
        min-width: 172px;
      }
    }

    .textbox {
      @media screen(md) {
        max-height: 208px;
        flex: 0.69 222px;
        min-width: 251px;
      }

      @media screen(xl) {
        flex: 0.69 293px;
        min-width: 293px;
      }
    }

    .line {
      @media screen(md) {
        bottom: 120px;
      }
    }
  }

  &:nth-of-type(3) {
    @media screen(md) {
      height: 203px;
    }
  }

  &:nth-of-type(4) {
    @media screen(md) {
      margin-bottom: -46px;
    }

    .textbox {
      h4 {
        max-width: 158px;

        @media screen(md) {
          padding-right: 10px;
          max-width: 248px;
        }
      }
    }

    .line {
      @media screen(md) {
        bottom: 79px;
      }
    }
  }

  &:nth-of-type(5) {
    .textboxwrapper:before {
      @media screen(md) {
        min-width: 60px;
      }

      @media screen(xl) {
        min-width: 201px;
      }
    }

    .textbox {
      @media screen(md) {
        flex: 241px;
        min-width: 275px;
      }

      @media screen(xl) {
        flex: 0.7 358px;
        min-width: 358px;
      }

      h4 {
        max-width: 162px;

        @media screen(md) {
          max-width: unset;
        }
      }

      p {
        max-width: 229px;

        @media screen(md) {
          max-width: unset;
        }
      }
    }
  }

}

.retangulo {
  position: relative;
  height: 94px;
  width: 32px;
  border-top: 4px dashed theme('colors.azulEscuro');
  border-right: 4px dashed theme('colors.azulEscuro');
  border-bottom: 4px dashed theme('colors.azulEscuro');

  @media screen(md) {
    height: 209px;
    width: 26px;
  }

  @media screen(xl) {
    height: 209px;
    width: 56px;
  }

  .losango {
    background-color: theme('colors.branco');
    transform: translate(-50%, -50%) rotate(45deg);
    left: 106%;
    top: 50%;
  }
}

.bola {
  height: 40px;
  width: 40px;
  border: 4px dashed theme('colors.azulEscuro');
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: 200;

  @media screen(md) {
    height: 66px;
    width: 66px;
    right: -33px;
    top: -33px;
    left: unset;
  }
}

.losango {
  position: absolute;
  height: 27.5px;
  width: 27.5px;
  border: 2px solid theme('colors.azulEscuro');
  transform: rotate(45deg);
  z-index: 200;

  @media screen(md) {
    height: 49.5px;
    width: 49.5px;
  }
}

.losangoFinal:after {
  content: '';
  width: 12px;
  height: 12px;
  background: theme('colors.azulEscuro');
  display: block;
  transform: translate(6px, 6px);

  @media screen(md) {
    width: 20px;
    height: 20px;
    transform: translate(13px, 13px);
  }
}

.textboxwrapper {
  display: flex;
  position: inherit;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 200;

  &:before {
    content: '';
    display: inline-block;
    flex: 0.15;
    border-top: 2px dashed theme('colors.azulEscuro');
    vertical-align: top;
    position: relative;
    left: 18.5px;

    @media screen(md) {
      flex: 0.3;
      left: 36.5px;
    }

    @media screen(md) {
      flex: 0.7;
    }
  }
}

.textbox {
  display: inline-block;
  vertical-align: top;
  flex: 0.8;

  h4 {
    background-color: theme('colors.azulEscuro');
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    display: inline-block;
    line-height: 1em;

    @media screen(md) {
      text-align: center;
      min-width: 230px;
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 800;
    }
  }

  p {
    color: theme('colors.cinza.300');
    padding-top: 2px;
    padding-left: 5px;

    @media screen(md) {
      padding-top: 8px;
      padding-left: 8px;
    }
  }
}

.line {
  height: auto;
  position: absolute;
  width: 4px;
  border-left: 4px dashed theme('colors.azulEscuro');
  top: 16px;
  bottom: 16px;
  left: -2px;
  z-index: 200;

  @media screen(md) {
    top: 33px;
    bottom: 33px;
  }
}

/* regras para box dentro do box */
.box .box.reversedToRight {
  @media screen(md) {
    position: absolute;
    left: calc(100% + 32px);
    bottom: 23px;
    width: 75%;
  }

  .losango {
    @media screen(md) {
      left: 24px;
    }

    @media screen(xl) {
      left: 54px;
    }
  }

  .textboxwrapper {
    position: absolute;
    top: 46px;
    left: 30px;

    @media screen(md) {
      width: 380px;
      top: 104px;
      left: 60px;
    }

    @media screen(xl) {
      left: 88px;
    }
  }

  .textboxwrapper:before {
    @media screen(md) {
      min-width: 28px;
      left: 0;
    }

    @media screen(xl) {
      min-width: 47px;
    }
  }

  .textbox {
    @media screen(md) {
      flex: 0.70 255px;
      min-width: 236px;
    }

    h4 {
      max-width: unset;
    }
  }
}

/* painéis azul claro */
.painel {
  position: absolute;
  background-color: theme('colors.azulClaro');
}

.painelTop {
  top: -36px;
  left: -46px;
  width: 190px;
  height: 136px;

  @media screen(md) {
    top: -114px;
    left: -14px;
    width: 259px;
    height: 275px;
  }
}

.painelMiddle {
  top: 7px;
  left: 96px;
  width: 94px;
  height: 184px;

  @media screen(md) {
    top: -171px;
    left: 296px;
    width: 400px;
    height: 290px;
  }

  @media screen(lg) {
    left: 430px;
  }

  @media screen(xl) {
    left: 451px;
  }
}

.painelBottom {
  top: -10px;
  left: -37px;
  width: 160px;
  height: 128px;

  @media screen(md) {
    top: -36px;
    left: 25px;
    width: 326px;
    height: 246px;
  }
}