.container {
  color: theme('colors.cinza.200');
  margin-bottom: 48px;

  @media screen(lg) {
    max-width: 1366px;
    margin: 0 auto;
    margin-bottom: 148px;
  }
}

.title {
  padding: 0 16px;
  margin-bottom: 12px;

  @media screen(lg) {
    padding: 0;
    margin-bottom: 41px;
  }
}

.title h3 {
  color: theme('colors.azulEscuro');
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 800;
  margin-bottom: 18px;

  @media screen(lg) {
    font-size: 4rem;
    line-height: 4.6rem;
    margin-bottom: 24px;
  }
}

.title p {
  margin-bottom: 17px;

  @media screen(lg) {
    margin-bottom: 17px;
  }
}

.image {
  margin-right: 5px;
  margin-bottom: -50px;

  @media screen(lg) {
    margin-bottom: -100px;
  }

  @media screen(xl) {
    width: fit-content;
    margin-bottom: -435px;
  }
}

.content {
  background: theme('colors.azulClaro');
  padding: 32px 13px 36px;
  margin-left: 18px;

  @media screen(lg) {
    max-width: 739px;
    padding: 40px 117px 62px 175px;
    margin-left: auto;
  }
}

.content h5 {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 12px;

  @media screen(lg) {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 16px;
  }
}

.content > p {
  margin-bottom: 10px;
}

.content p + p {
  margin-bottom: 17px;
}
