.container {
  list-style: none;
  border-bottom: 1px solid theme('colors.azulEscuro');
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: theme('colors.cinza.300');

  @media screen(xl) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.button {
  display: flex;
  width: 100%;
  height: 35px;
  text-align: left;
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;
  position: relative;
  outline: none;
  align-items: center;

  @media screen(xl) {
    padding-top: 6px;
    height: 55px;
  }
}

.button span {
  @media (max-width: 900px) {
    max-width: 245px;
  }
}

.control svg {
  width: 14px;
}

.contentWrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.5s;
}

.content {
  padding: 7px 20px 17px;
  font-weight: 400;

  @media screen(xl) {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.content li {
  margin-bottom: 17px;

  @media screen(xl) {
    max-width: 197px;
  }
}

.content button {
  text-align: start;
}

.content li:last-child {
  margin-bottom: 0px;
}