.filterDrop,
.filterDropType1,
.filterDropType2,
.filterDropType3,
.filterDropType4,
.filterDropType5 {
  display: grid;
  cursor: pointer;
  align-items: flex-start;
  grid-template-columns: 13px 19px 1fr;
  text-align: left;
}

.filterDrop::before,
.filterDropType1::before,
.filterDropType2::before,
.filterDropType3::before,
.filterDropType4::before,
.filterDropType5::before {
  content: '';
  width: 12px;
  height: 2px;
  background: #dcdfe0;
  margin-right: 4px;
  margin-top: 5px;
}

.filterDropType1 {
  color: theme('colors.cinza.800');
}

.filterDropType2 {
  color: theme('colors.laranja');
}

.filterDropType3 {
  color: theme('colors.azulBase');
}

.filterDropType4 {
  color: theme('colors.verdeCitrico');
}

.filterDropType5 {
  color: theme('colors.verde.100');
}

.filterDrop p {
  text-align: initial;
}